{% extends 'base.html' %}
{% load static %}
{% block contents %}      
<section>
  <div class="container">
    <div class="row mt-5">
    <div class="col-lg-12 col-md-12">
        <div class="alert alert-info text-center " role="alert">
            A message with a link to reset your password has been sent to your email, Click the link to reset your password.
            Check your spam folder as well in case you don't find it in your inbox
        </div>
    </div>
    </div>
  </div>
</section>
{% endblock contents %}

