
{% extends 'base.html' %}
{% load static %}
{% block contents %}
<section id="form" >
    <div class="container">
        <div class="login-form" >
          {% if form.errors %}
          <div id="noto" style="width: 100%;" class="justify-content-start alert alert-danger alert-dismissible fade show" role="alert">
              {% for field in form %}
                  {% if field.errors %}
                  <span >-{{ field.errors|striptags }} <br></span>
                  {% endif %}
              {% endfor %}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
      {% endif %}
      <form method="post" class="" >
          {% csrf_token %}
          <div class="row mt-3">
              <div class="col-12">
                  <label for="">Enter You Email below</label>
                  <div class="single-input mt-2">
                      <input style="height:50px;" class="form-control" type="email" name="email" id="id_email" autocomplete="email" required maxlength="254">
                  </div>
              </div>
              <div class="col-12 mb-25 mt-3"><button type="submit" class=" btn btn-warning rounded-pill">Submit</button></div>
          </div>
      </form>
        </div>
    </div>
</section>
{% endblock contents %}